:root {
    /* Colors */
    --primary-color: #409eff;
    --secondary-color: #606266;
    --light-background-color: #fff;
    --dark-background-color: #D3D3D3;
    --google-blue: #4285F4;
    --google-blue-hover: #357ae8;
    --text-color-black: black;
    --text-color-grey: #7d7869;
    --border-color-light: #ebeef5;
    --shadow-color: rgba(0,0,0,0.25);

    /* Font Families */
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-open-sans: "Open Sans", sans-serif;
}